NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBge6OPnxIkr1QQPOCz9DExNh314YXmHj4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=aomgun-3ae64.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=aomgun-3ae64
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=aomgun-3ae64.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=802411149691
NEXT_PUBLIC_FIREBASE_APP_ID=1:802411149691:web:f08cbb9f8b3e89e6bd65de

# Vercel server variables. Keep these private.
FIREBASE_SERVICE_ACCOUNT_BASE64=base64_encoded_service_account_json
